annotated-types==0.7.0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
azure-core==1.35.1 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
azure-functions==1.24.0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
azure-identity==1.25.1 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
azure-storage-blob==12.26.0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
azurefunctions-extensions-base==1.1.0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
azurefunctions-extensions-bindings-blob==1.1.1 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
certifi==2025.10.5 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
cffi==2.0.0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.3 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
click==8.3.0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
colorama==0.4.6 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0" and platform_system == "Windows"
cryptography==46.0.2 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
et-xmlfile==2.0.0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
greenlet==3.2.4 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
idna==3.10 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
isodate==0.7.2 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
joblib==1.5.2 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
markdown-it-py==4.0.0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
markupsafe==3.0.3 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
mdurl==0.1.2 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
msal-extensions==1.3.1 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
msal==1.34.0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
numpy==2.3.3 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
openpyxl==3.1.5 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
pandas==2.3.3 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
pyarrow==21.0.0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
pycparser==2.23 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pydantic-core==2.41.1 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
pydantic-settings==2.11.0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
pydantic==2.12.0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
pygments==2.19.2 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
pyjwt==2.10.1 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
pyodbc==5.2.0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
python-dateutil==2.9.0.post0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
python-dotenv==1.1.1 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
pytz==2025.2 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
requests==2.32.5 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
rich==14.2.0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
shellingham==1.5.4 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
six==1.17.0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
sqlalchemy==2.0.43 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
toolz==1.0.0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
typer==0.19.2 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
typing-extensions==4.15.0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
typing-inspection==0.4.2 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
tzdata==2025.2 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
urllib3==2.5.0 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
werkzeug==3.1.3 ; python_full_version >= "3.12.2" and python_full_version < "3.13.0"
