AZURE_USER_PERSONAL=""
AZURE_PASS_PERSONAL=""

AZURE_TENANT=""
AZURE_CLIENT_TEST=""
AZURE_SECRET_TEST=""
AZURE_SUBSCRIPTION_TEST=""
AZURE_SCOPE_TEST=""

AZURE_USER_PROJECT=""
AZURE_PASS_PROJECT=""

AZURE_SP_NAME=""
AZURE_SP_ID=""
AZURE_SP_CLIENT=""
AZURE_SP_SECRET=""

AZURE_SQL_USER=""
AZURE_SQL_PASS=""
AZURE_CONTAINER=""

AZURE_SQL_LOGIN=""
AZURE_SQL_PASS2=""

STRING_SQL="Driver={ODBC Driver 18 for SQL Server};Server=tcp:fiserv-reports.database.windows.net,1433;Database=fiserv-db;Uid=$AZURE_SQL_USER;Pwd=${};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;"
STRING_ENTRA="Driver={ODBC Driver 18 for SQL Server};Server=tcp:fiserv-reports.database.windows.net,1433;Database=fiserv-db;Uid=$AZURE_CLIENT;Pwd=$AZURE_SECRET;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;Authentication=ActiveDirectoryPassword"
STRING_ENTRA_INT="Driver={ODBC Driver 18 for SQL Server};Server=tcp:fiserv-reports.database.windows.net,1433;Database=fiserv-db;Uid={your_user_name};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;Authentication=ActiveDirectoryIntegrated"