let
  TextLit = (ss as text  ) as text => 
    "'" & Text.Replace(ss, "'", "''") & "'",
  DateLit  = (dd as date  ) as text =>
    "CAST(" & TextLit(Date.ToText(dd, "yyyy-MM-dd")) & " AS date)",
  DecLit   = (nn as number) as text =>
    "CAST(" & Text.From(Number.Round(nn, 2), "en-US") & " AS decimal(19,2))",
  IntLit   = (ii as number) as text =>
    "CAST(" & Text.From(Number.Round(ii, 0), "en-US") & " AS int)", 
  
  Keys0 = Excel.CurrentWorkbook(){[Name="B_Exacta"]}[Content],
  Keys = Table.TransformColumnTypes(Keys0, {
  {% for col in columns %}
    { "{{col.name}}", type {{col.type}} }, 
  {% endfor %}
  }, "en-US"),
  RowToSql = (row as record) as text => "(" & 
  {% for col in columns %}
    {{ col.pqlit }}(Record.Field(row, "{{ col.name }}")) & "," & 
  {% endfor %}
  & ")", 
  RowsText = List.Transform(Table.ToRecords(Keys), each RowToSql(_)),
  ValuesClause = if List.IsEmpty(RowsText)
    then "VALUES ({{ columns | nulls }})" 
    else "VALUES " & Text.Combine(RowsText, ","),

  Query = "{{ view | join_values(columns) }}",
  Database = Sql.Database("fiserv-reports.database.windows.net", "fiserv-db"),
  Result = Value.NativeQuery(Database, Query, null, [EnableFolding=true])
in
  Result